.side-nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
}

.side-nav a:hover {
    background-color: deepskyblue;
}

#velhice{
    position:absolute;
    bottom: 0;
}
